{% extends 'base.html.twig' %}
{% block body %}

    <title>Admin - TTBS </title>

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Collaborateurs System</h1>
              
            </div>

            <!-- Content Row -->
            <div class="row">
               {% if is_granted('ROLE_ADMIN')  %}
              Welcome To Admin Template
              {% else  %}
              Welcome To Collaborateur Template
              {% endif  %}
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; TTBS 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    
{% endblock %}